mixin button(style, type, text, className, options)
  - className = `button button--${style} ${className || ''}`

  if options && options.disabled
    - className += 'button--disabled'

  if type === 'link'
    a(class=className, href=options.link)= text
  else if type === 'button'
    button(class=className)= text
  else if type === 'popup'
    button.js-open-popup(class=className, data-popup=options.popup)= text
  else if type === 'submit'
    button(type="submit", class=className)= text