//- favicons
link(rel="shortcut icon", href=require("@/assets/images/favicons/64x64.png"), type="image/png")
link(rel="icon", href=require("@/assets/images/favicons/152x152.png"), type="image/png", sizes="152x152")
link(rel="icon", href=require("@/assets/images/favicons/256x256.png"), type="image/png", sizes="256x256")
link(rel="icon", href=require("@/assets/images/favicons/512x512.png"), type="image/png", sizes="512x512")
link(rel="apple-touch-icon", href=require("@/assets/images/favicons/152x152.png"), sizes="152x152")
link(rel="apple-touch-icon", href=require("@/assets/images/favicons/256x256.png"), sizes="256x256")
link(rel="apple-touch-icon", href=require("@/assets/images/favicons/512x512.png"), sizes="512x512")